<h1>Welcome</h1>

<p>TalkHub is a super cool app for talking about stuff. Possibly even penguins!</p>

<p><% if Date.today.saturday? %>
	RailsBridge time!!!!!
	and the date is <%= Date.today.to_s %>
	<% end %>
	</p>

